@model  List<TalkToTreat.Models.Hospital>

@if (Model != null && Model.Count() > 0)
{
    foreach (var hospital in Model)
    {
       
        <div class="row doctor-inner-box">
            <div class="col-md-3 text-center">
                
                    <img onerror="this.src='/Assets/images/hospitals/dummyhospital.jfif'" src="@hospital.Image" alt="" class="img-fluid hos-img w-100">
               
            </div>
            <div class="col-md-9">
                <h4 class="mb-0"><a href="/Hospitals/Detail/@hospital.Id">@hospital.Name, @hospital.City</a>  </h4>

                <ul>
                    <li><img src="~/images/map-location.svg" /> @hospital.City,@hospital.Country </li>
                    <li style="margin-left:10px;"><img src="~/images/no-of-bed.svg" /> Number of Beds : @hospital.NumberOfbeds </li>
                  
                    <li style="margin-left:10px;">Est. @hospital.EstablishmentYesr  <img style="margin-left:10px;" width="25" src="~/images/est.svg" /> </li>

                </ul>
                <p class="max-lines">
                    @hospital.ShortDescription
                </p>
                <a href="/Hospitals/Detail/@hospital.Id" class="btn btn-success succes-btn">View Profile</a>
                <a href="/Hospitals/Detail/@hospital.Id" class="btn btn-warning ornagebutton">Book Appointment</a>

            </div>
        </div>
    }
}
else
{
    <span style="font-size: 20px; margin-top: 15px; display:flex;">No record found</span>
}